<div class="d-flex flex-grow-1 h-100">
  <div class="d-flex flex-row flex-grow-1">
    <lefttoolbar></lefttoolbar>
    <div class="d-flex flex-column flex-grow-1">
      <div class="d-flex flex-row flex-grow-1">
        <p-splitter [panelSizes]="[20,80]" class="d-flex flex-column flex-grow-1 ">
          <ng-template pTemplate>
            <div class="d-flex flex-column flex-grow-1 ">
              <div class="clearfix w-100 pt-2 pb-1 px-0">
                <div style="float: left" class="px-3">
                  <h4>Test plan</h4>
                </div>
                <div style="float: right">
                  <button type="button" class="btn  bi bi-arrow-bar-down"></button>
                  <button type="button" class="btn  bi bi-arrow-bar-up" ></button>
                </div>
              </div>
              <p-tree [value]="data.rootTreeItem.children" styleClass="p-0 m-0 mw-100 w-100 h-100 border-0" selectionMode="single"
                [(selection)]="data.selectedTreeItem" [contextMenu]="treeItemMenu">
                <ng-template let-node pTemplate="default">
                  <div class="w-100" style="overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap;" >
                    <i class="bi bi-folder" ></i>&nbsp;&nbsp;{{ node.name }}
                  </div>
                </ng-template>
              </p-tree>
            </div> 
          </ng-template>
          <ng-template pTemplate>
            <div class="w-100 h-100">

              <!-- <p-tabView class="w-100 h-100" *ngIf="data.selectedSuite" [(activeIndex)]="data.tabSelectedIndex">
                <p-tabPanel header="Define" style="padding: 0px; margin: 0px;" >
                  <ng-template pTemplate="content" style="padding: 0px;">
                    <div class="w-100 ">
                      <div class="clearfix w-100 pt-2 px-3">
                        <div style="float: left;" class="mt-1">
                          <h5>{{ data.selectedSuite.name }} (ID: {{ data.selectedSuite.id }})</h5>
                        </div>
                        <div style="float: right">
                          <button type="button" class="btn btn-primary" (click)="this.showAddTestCaseWindow()">New Test
                            Case</button>
                          <button type="button" class="btn btn-light bi bi-plus-lg"
                            (click)="this.showAddExistTestCaseWindow()"></button>
                        </div>
                      </div>
                    </div>

                    <div class="w-100 h-100">
                      <p-table [value]="data.defineTests" 
                      class="lh-1"
                        [contextMenu]="cmd">
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="py-1 px-2" style="width: 30px;">
                              <p-checkbox name="groupname" [(ngModel)]="data.defineTestCasesSelectAll" [binary]="true"></p-checkbox>
                            </th>
                            <th class="py-2 px-2" style="width: 90px;" pSortableColumn="name">Order<p-sortIcon
                                field="order"></p-sortIcon></th>
                            <th class="py-0" pSortableColumn="name">Title<p-sortIcon field="name"></p-sortIcon></th>
                            <th class="py-0 px-2" style="width: 100px;" pSortableColumn="priority">Priority<p-sortIcon
                                field="priority"></p-sortIcon></th>
                            <th class="py-0 px-2" style="width: 90px;" pSortableColumn="testCaseId">Id <p-sortIcon
                                field="id"></p-sortIcon></th>
                            <th class="py-0" style="width: 130px;" pSortableColumn="stateStr">State<p-sortIcon
                                field="stateStr"></p-sortIcon></th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-p let-rowIndex="rowIndex">
                          <tr class="sample"  
                            [ngClass]="{'bg-row-selected': p.selected === true}"
                            [pContextMenuRow]="p">
                            <td class="py-1  px-2"><p-checkbox name="groupname" [(ngModel)]="p.selected" [binary]="true"></p-checkbox>
                            </td>
                            <td class="py-2" (click)="p.selected = true" (contextmenu)="p.selected = true">{{p.order}}</td>
                            <td class="py-0" (click)="p.selected = true" (contextmenu)="p.selected = true"> 
                              <div>
                                {{p.name}}
                              </div>
                            </td>
                            <td class="py-0" (click)="p.selected = true" (contextmenu)="p.selected = true">{{p.priority}}</td>
                            <td class="py-0" (click)="p.selected = true" (contextmenu)="p.selected = true">{{p.testCaseId}}</td>
                            <td class="py-0" (click)="p.selected = true" (contextmenu)="p.selected = true">{{p.stateStr}}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Execute"  >
                  <ng-template pTemplate="content"  style="padding: 0px;">
                    <div class="w-100 ">
                      <div class="clearfix w-100 pt-2 px-3">
                        <div style="float: left;" class="mt-1">
                          <h5>{{ data.selectedSuite?.name }} (ID: {{ data.selectedSuite.id }})</h5>
                        </div>
                        <div style="float: right">
                          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" class="btn btn-light"
                                (click)="SetStateSelectedTests(OutCome.Passed)">
                                <div style="float: left; padding-right: 5px"><img
                                    src="assets/images/testcase/passed_icon.svg" width="16"></div>
                                <div style="margin-top: 2px; float: left">Pass</div>
                              </button>
                              <button type="button" class="btn btn-light"
                                (click)="SetStateSelectedTests(OutCome.Failed)">
                                <div style="float: left; padding-right: 5px"><img
                                    src="assets/images/testcase/failed_icon.svg" width="16"> </div>
                                <div style="margin-top: 2px; float: left">Fail</div>
                              </button>
                              <button type="button" class="btn btn-light"
                                (click)="SetStateSelectedTests(OutCome.Blocked)">
                                <div style="float: left; padding-right: 5px"><img
                                    src="assets/images/testcase/blocked_icon.png" width="16"> </div>
                                <div style="margin-top: 2px; float: left">Block</div>
                              </button>
                              <button type="button" class="btn btn-light"
                                (click)="SetStateSelectedTests(OutCome.Skipped)">
                                <div style="float: left; padding-right: 5px"><img
                                    src="assets/images/testcase/notapplicable_icon.svg" width="16"> </div>
                                <div style="margin-top: 2px; float: left">Skip</div>
                              </button>
                              <button type="button" class="btn btn-light"
                                (click)="SetStateSelectedTests(OutCome.Planed)"><i class="bi bi-arrow-clockwise"></i>
                                Reset</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="w-100">
                      <p-table [value]="data.executeTests" dataKey="pointId" 
                        [contextMenu]="cme" class="lh-1">
                        <ng-template pTemplate="header">
                          <tr class="m-0 p-0"> 
                            <th class="py-1 px-2" style="width: 30px;">
                              <p-checkbox name="groupname" [(ngModel)]="data.executeTestCasesSelectAll" [binary]="true"></p-checkbox>
                            </th>
                            <th ></th>
                            <th class="py-2 px-2" pSortableColumn="name">Title<p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th style="width: 120px" class="py-0 px-2" pSortableColumn="outcome">Outcome<p-sortIcon
                                field="outcome"></p-sortIcon></th>
                            <th style="width: 100px" class="py-0 px-2" pSortableColumn="order">Order<p-sortIcon field="order"></p-sortIcon>
                            </th>
                            <th class="py-0 px-2" pSortableColumn="id">Id<p-sortIcon field="testcaseId"></p-sortIcon>
                            </th> 
                            <th class="py-0 px-2" pSortableColumn="tester" >Tester<p-sortIcon
                                field="tester"></p-sortIcon></th>
                            <th class="py-0 px-2" pSortableColumn="priority"  >Priority<p-sortIcon
                                field="priority"></p-sortIcon></th>
                            <th class="py-0 px-2" pSortableColumn="configuration"  >Configuration<p-sortIcon
                                field="configuration"></p-sortIcon>
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-p let-rowIndex="rowIndex" let-expanded="expanded">
                          <tr class="sample" 
                            [pContextMenuRow]="p">
                            <td class="py-1  px-2"><p-checkbox name="groupname" [(ngModel)]="p.selected" [binary]="true"></p-checkbox>
                            </td>
                            <td class="p-0 m-0">
                                <button type="button" pButton pRipple [pRowToggler]="p" class="p-button-text p-button-rounded p-button-plain m-0 p-0" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            </td>
                            <td class="py-2 px-2" (click)="p.selected = true" (contextmenu)="p.selected = true">{{p.name}}</td>
                            <td class="py-2 px-2" (click)="p.selected = true" (contextmenu)="p.selected = true">
                              <div class="mx-1">
                                <img style="float: left; margin-right: 5px;" *ngIf="p.outcome == OutCome.Paused" src="assets/images/testcase/pause_icon.png"
                                  width="16">
                                <img style="float: left; margin-right: 5px;"  *ngIf="p.outcome == OutCome.Passed" src="assets/images/testcase/passed_icon.svg"
                                  width="16">
                                <img style="float: left; margin-right: 5px;"  *ngIf="p.outcome == OutCome.Failed" src="assets/images/testcase/failed_icon.svg"
                                  width="16">
                                <img style="float: left; margin-right: 5px;"  *ngIf="p.outcome == OutCome.Blocked" src="assets/images/testcase/blocked_icon.png"
                                  width="16">
                                <img style="float: left; margin-right: 5px; "  *ngIf="p.outcome == OutCome.Skipped"
                                  src="assets/images/testcase/notapplicable_icon.svg" width="16">
                                <img style="float: left; margin-right: 5px;"  *ngIf="p.outcome == OutCome.Planed" src="assets/images/testcase/unknow_icon.png"
                                  width="16">
                                  {{p.outcomeStr}}
                              </div>
                            </td>
                            <td class="py-2 px-2" (click)="p.selected = true" (contextmenu)="p.selected = true">{{p.order}}</td>
                            <td class="py-2 px-2" (click)="p.selected = true" (contextmenu)="p.selected = true">{{p.testcaseId}}</td>
                            <td class="py-2 px-2" (click)="p.selected = true" (contextmenu)="p.selected = true">{{p.tester}}</td>
                            <td class="py-2 px-2" (click)="p.selected = true" (contextmenu)="p.selected = true">{{p.priority}}</td>
                            <td class="py-2 px-2" (click)="p.selected = true" (contextmenu)="p.selected = true">{{p.configuration}}</td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-selectedPoint>
                          <tr>
                              <td colspan="9" class="m-0 p-0">
                                <testcase [id]="selectedPoint.testcaseId" [isReadOnly]="true" [isModal]="true"  [projectId]="data.projectId"></testcase>
                              </td>
                          </tr>
                      </ng-template>

                      </p-table>
                    </div>
                  </ng-template>
                </p-tabPanel>

                <p-tabPanel header="Results"  style="height:100%">
                  <ng-template pTemplate="content" style="padding: 0px;">

                    <div class="w-100 h-100  d-flex justify-content-center">
                      <div class="my-4">
                        <a class="text-secondary" [routerLink]="data.reportLink?.url?.path" [queryParams]="data.reportLink?.url?.params">
                          <img src="assets/images/header/Metrics.svg" class="rounded img-fluid " width="30" style="float: right; margin: 10px" />
                          <span style="font-size: 2rem;">Click to open report</span>
                        </a>
                      </div>
                    </div>
                  </ng-template>
                </p-tabPanel>

              </p-tabView> -->

            </div>
          </ng-template>
        </p-splitter>
      </div>

    </div>
  </div>
</div>

<div style="position: absolute; bottom: 1px;" class="w-100 d-flex flex-row flex-grow-1 justify-content-center align-items-center">
  <div class="flex-column " style="width: 90%">
    <p-messages [value]="requests.messages"></p-messages>
  </div>
</div>

<router-outlet></router-outlet>